#video-container {
  position: relative;
  width: 100%;
}

#text-overlay {
  position: absolute;
  top: 55%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
